{% load static %}

<!-- Icons - Materilize Icons -->
<link href="{% static 'css/icon.css' %}" rel="stylesheet">

<!-- CSS - MaterilizeCss -->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

<!-- JS - JQuery 3.2.1 -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

<!-- JS - MaterilizeCSS -->
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<!-- Bootstrap core CSS -->
{#<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}

<!-- Custom styles for this template -->
{#<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">#}

<!-- Fonts - Fontsawesome -->
<link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">

<!-- ndhui -->
{#<link rel="stylesheet" type="text/css" href="{% static 'css/ndhui.css' %}">#}