{% extends "base/main_base.html" %}
{% load static %}

{% block head_libs %}
{% endblock %}

{% block body_header %}
{% endblock %}

{% block body_container %}

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Grupos</span>
          <table class="striped">
            <thead>
              <tr>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">Editar</th>
              </tr>
            </thead>
            <tbody>
              {% if grupos_all %}
                {% for grupo in grupos_all %}
                  <tr>
                    <td>{{ grupo.str_nombre }}</td>
                    <td style="text-align: center">{{ grupo.estado_nombre }}</td>
                    <td style="text-align: center">
                      <a href="{% url 'inventario:get_grupo' grupo.pk 'UPD' %}" class="blue-grey-text"><i class="fas fa-edit"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4">No hay registros.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="waves-effect">
                <a href="?page={{ page_obj.previous_page_number }}">
                  <i class="material-icons">chevron_left</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_left</i>
                </span>
              </li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><a href="#!">{{ i }}</a></li>
              {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}">
                  <i class="material-icons">chevron_right</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_right</i>
                </span>
              </li>
            {% endif %}
            </ul>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'inventario:get_grupo' 0 'INS' %}" class="blue-grey-text"><i class="fas fa-plus"></i> Nuevo</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Marcas</span>
          <table class="striped">
            <thead>
              <tr>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">Editar</th>
              </tr>
            </thead>
            <tbody>
              {% if marcas_all %}
                {% for marca in marcas_all %}
                  <tr>
                    <td>{{ marca.str_nombre }}</td>
                    <td style="text-align: center">{{ marca.estado_nombre }}</td>
                    <td style="text-align: center">
                      <a href="{% url 'inventario:get_marca' marca.pk 'UPD' %}" class="blue-grey-text"><i class="fas fa-edit"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4">No hay registros.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="waves-effect">
                <a href="?page={{ page_obj.previous_page_number }}">
                  <i class="material-icons">chevron_left</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_left</i>
                </span>
              </li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><a href="#!">{{ i }}</a></li>
              {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}">
                  <i class="material-icons">chevron_right</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_right</i>
                </span>
              </li>
            {% endif %}
            </ul>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'inventario:get_marca' 0 'INS' %}" class="blue-grey-text"><i class="fas fa-plus"></i> Nuevo</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Items</span>
          <table class="striped">
            <thead>
              <tr>
                <th style="text-align: center">Código</th>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Estado</th>
                <th style="text-align: center">Editar</th>
              </tr>
            </thead>
            <tbody>
              {% if items_all %}
                {% for item in items_all %}
                  <tr>
                    <td>{{ item.str_codigo }}</td>
                    <td>{{ item.str_nombre }}</td>
                    <td>{{ item.estado_nombre }}</td>
                    <td style="text-align: center">
                      <a href="{% url 'inventario:get_item' item.pk 'UPD' %}" class="blue-grey-text"><i class="fas fa-edit"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="6">No hay registros.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="waves-effect">
                <a href="?page={{ page_obj.previous_page_number }}">
                  <i class="material-icons">chevron_left</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_left</i>
                </span>
              </li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><a href="#!">{{ i }}</a></li>
              {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li>
                <a href="?page={{ page_obj.next_page_number }}">
                  <i class="material-icons">chevron_right</i>
                </a>
              </li>
            {% else %}
              <li class="disabled">
                <span>
                  <i class="material-icons">chevron_right</i>
                </span>
              </li>
            {% endif %}
            </ul>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'inventario:get_item' ' ' 'INS' %}" class="blue-grey-text"><i class="fas fa-plus"></i> Nuevo</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_js %}
{% endblock %}

{% block body_footer %}
{% endblock %}