{% extends 'base/main_base.html' %}
{% load material_form %}

{% block header %}
{% endblock %}

{% block body_container %}
  <div class="row">
    <div class="col s12 m6 l6">
      <h5>Detalles del Item</h5>
      <form action="" method="post" style="padding-top: 15px">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        {% if mode == 'INS' %}
          <input class="waves-effect waves-light btn" type="submit" value="Registrar"/>
        {% else %}
          <input class="waves-effect waves-light btn" type="submit" value="Guardar"/>
        {% endif %}
        <a class="waves-effect waves-light btn red lighten-1" href="{% url 'inventario:inv_inicio' %}">
          Cancelar</a>
      </form>
    </div>
    <div class="col s12 m6 l6">
      <h5>Histórico de Precios</h5>
      <table class="striped">
        <thead>
          <tr>
            <th style="text-align: center">Fecha</th>
              <th style="text-align: center">Precio</th>
            </tr>
          </thead>
          <tbody>
            {% if item_precios %}
              {% for ip in item_precios %}
                <tr>
                  <td>{{ ip.dtm_fecha_vigencia }}</td>
                  <td style="text-align: right">$ {{ ip.dec_precio }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="3">No hay registros.</td>
              </tr>
            {% endif %}
          </tbody>
      </table>
      <div style="padding-top: 25px;">
        <h5>Ingresar nuevo precio</h5>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="input-field col s4 m4 l4">
          <label for="fecha_vigencia">Fecha:</label>
          {% if mode != 'INS' %}
            <input id="fecha_vigencia" name="fecha_vigencia" type="text" class="datepicker" value="{{ fecha }}">
          {% else %}
            <input id="fecha_vigencia" name="fecha_vigencia" type="text" class="datepicker" value="{{ fecha }}" disabled>
          {% endif %}
        </div>
        <div class="input-field col s4 m4 l4">
          <label for="tiempo_vigencia">Tiempo:</label>
          {% if mode != 'INS' %}
            <input id="tiempo_vigencia" name="tiempo_vigencia" type="text" class="timepicker" value="{{ tiempo }}">
          {% else %}
            <input id="tiempo_vigencia" name="tiempo_vigencia" type="text" class="timepicker" value="{{ tiempo }}" disabled>
          {% endif %}
        </div>
        <div class="input-field col s4 m4 l4">
          <label for="precio">Nuevo Precio:</label>
          {% if mode != 'INS' %}
            <input id="precio" name="precio" type="number" step="0.01" placeholder="0.00" pattern="^\d+(?:\.\d{1,2})?$"
                   value="{{ precio }}">
          {% else %}
            <input id="precio" name="precio" type="number" step="any" value="{{ precio }}" disabled>
          {% endif %}
        </div>
        <div class="col s12 m2 l2">
          {% if mode != 'INS' %}
            <a id="add_item" class="waves-effect waves-light btn green lighten-2">Agregar</a>
          {% else %}
            <a id="add_item" class="waves-effect waves-light btn green lighten-2" disabled>Agregar</a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block document_ready_js %}
{% endblock %}

{% block body_js %}
  {# Inicializador del DatePicker #}
  <script type="text/javascript">
    $('.datepicker').pickadate({
      labelMonthNext: 'Mes anterior',
      labelMonthPrev: 'Mes siguiente',
      labelMonthSelect: 'Seleccione un mes',
      labelYearSelect: 'Seleccione un año',
      selectMonths: true,
      selectYears: 99,
      monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
      weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
      today: '',
      clear: 'Clear',
      close: 'Ok',
{#        max: true,#}
      format: 'dd-mm-yyyy',
      closeOnSelect: true
    });

    $('.timepicker').pickatime();
  </script>
  <script>
    $('#add_item').click(function (e) {
      var int_item_pk = '{{ item.pk }}';
      var dat_fecha_vigencia = $('#fecha_vigencia').val();
      var tim_tiempo_vigencia = $('#tiempo_vigencia').val();
      var dec_precio = $('#precio').val();
      var bol_flag = false;

      if (dec_precio != 0 && dat_fecha_vigencia != '' && tim_tiempo_vigencia != '') {
        bol_flag = true;
      }else{
        bol_flag = false;
        alert('Por favor ingrese todos los datos para el nuevo precio...')
      }

      if (bol_flag) {
        if (confirm("Desea agregar el nuevo precio ?") == true) {

          console.log('#add_item: click');
          console.log('>> Insertando precio de item, mediante ajax.');
          e.preventDefault();

          $.ajax({
            type: 'POST',
            url: '/inventario/item_set_precio/',
            data: {
              csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
              'item_pk': int_item_pk,
              'fecha_vigencia': dat_fecha_vigencia,
              'tiempo_vigencia': tim_tiempo_vigencia,
              'precio': dec_precio
            },
            datetype: 'json',
            success: function (data) {
              if (data.mensaje) {
                //  Imprimer el mensaje del backend.
                alert(data.mensaje);
                setTimeout(function () {  // espera por 0.5 segundos
                  location.reload(); // luego recarga la página
                }, 500);
              }
            },
            error: function (data) {
              alert('Ups! ocurrió un error!');
            }
          });
        }
      }
    });
  </script>
{% endblock %}

{% block footer %}
{% endblock %}